<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Lionel Jouin, Computer Science student at Uppsala University. I'm currently working at Ericsson on my Master Thesis: Study IMS networking needs using <a href="https://github.com/networkservicemesh/networkservicemesh">Network Service Mesh</a> (A new CNCF project). Take a look at my <a href="https://github.com/LionelJouin">Github</a> and at my <a href="https://www.linkedin.com/in/lioneljouin/">LinkedIn</a>.</p>
  </div>
</section>
